body {
    min-height: 90vh;
    font-size: 1.6rem;
}

.dancefloor {
    position: relative;
    width: 75%;
    min-height: 90vh;
    margin: 0 auto;
}

.dancer {
    position: absolute;
    bottom: 0;
}
