body {
    min-height: 90vh;
    font-size: 1.6rem;
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#file-input {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
    padding: 1rem;
    border-radius: 5px;
    width: 300px;
    color: #aaa;
}

.input-button {
    border: none;
    margin-top: 1rem;
    display: block;
    background-color: #aaa;
    color: black;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

#stop-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: none;
    display: block;
    background-color: transparent;
    color: #777;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    z-index: 999999;
    display: none;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

.dancefloor {
    position: relative;
    width: 75%;
    min-height: 90vh;
    margin: 0 auto;
}

.floor {
    position: absolute;
    bottom: 0;
    margin-bottom: -20px;
    height: 150px;
    width: 70%;
    background-color: #333;
}

.floor-left {
    left: 0;
    transform: skew(-60deg, 0deg);
}

.floor-right {
    right: 0;
    transform: skew(60deg, 0deg);
}

.stage {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 80px;
    background-color: #222;
}

.stage-surface {
    position: absolute;
    bottom: 80px;
    height: 50px;
    width: 60%;
    background-color: #111;
}

.stage-surface-left {
    left: 0;
    transform: skew(-60deg, 0deg);
    transform-origin: left bottom;
}

.stage-surface-right {
    right: 0;
    transform: skew(60deg, 0deg);
    transform-origin: right bottom;
}

.dj-podium {
    position: absolute;
    bottom: 210px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 60px;
    background-color: #444;
}

#dj {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 260px;
    text-align: center;
    font-size: 1.6rem;
}

.speaker {
    position: absolute;
    bottom: 100px;
    width: 100px;
    height: 170px;
    background-color: black;
}

.speaker-left {
    left: 100px;
}

.speaker-right {
    right: 100px;
}

.speaker-cone {
    position: absolute;
    border-radius: 50%;
    background-color: #333;
}

.bass-cone {
    width: 70px;
    height: 70px;
    bottom: 20px;
    left: 15px;
}

.treble-cone {
    width: 50px;
    height: 50px;
    top: 20px;
    left: 25px;
}

.speaker-cone:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    width: 40%;
    height: 40%;
    background-color: #777;
}

.turntable {
    position: absolute;
    width: 30px;
    height: 7px;
    background-color: #888;
    top: -7px;
}

.turntable-left {
    left: 10px;
}

.turntable-right {
    right: 10px;
}

.dancer {
    position: absolute;
    bottom: 0;
    z-index: 10;
    font-size: 1.6rem;
}

.overhead-light {
    position: absolute;
    top: -150px;
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    opacity: 0;
    transform-origin: 50% 0;
}

.light-red {
    border-bottom: 150vh solid red;
}

.light-green {
    border-bottom: 150vh solid green;
}

.light-blue {
    border-bottom: 150vh solid blue;
}

.light-yellow {
    border-bottom: 150vh solid yellow;
}

.credit {
    z-index: 999999;
    position: fixed;
    bottom: 0.5rem;
    right: 1rem;
    background-color: transparent;
    color: #777;
}

a {
    color: #770000;
}
